<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Email verification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Email verification</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" *ngIf="user$">
    <ion-row class="ion-justify-content-around">
      <ion-col size-md="6">
        <ion-card>
          <ion-row>
            <ion-col>
              <h2>Thank you for registering!</h2>
              <p>
                We have sent a confirmation email to your
                <strong>{{ user$.email }}</strong>
              </p>
              <p>
                Please check your email and click on the link to verify your email
                address.
              </p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button
                type="submit"
                color="primary"
                expand="block"
                (click)="onSendEmail()"
                >Resend verification email</ion-button
              >
            </ion-col>
          </ion-row>
        </ion-card>
    
      </ion-col>
    </ion-row>
  </div>
</ion-content>
