<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Create comment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Create comment</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-row class="ion-justify-content-around">
      <ion-col size-md="6" size-lg="5">
        <ion-card>
          <ion-card-header>
            <ion-title>Create comment</ion-title>
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col>
                <ion-item lines="full">
                  <ion-label position="floating"> Body </ion-label>
                  <ion-textarea
                    inputmode="text"
                    [(ngModel)]="body"
                    required
                  ></ion-textarea>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-button type="submit" (click)="onCreate()" expand="block">
                  Send
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
