<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Password restoration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Password restoration</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-row class="ion-justify-content-around">
      <ion-col size-md="6" size-lg="5" size-xl="4">
        <ion-card>
          <ion-item lines="full">
            <ion-label position="floating"> Email </ion-label>
            <ion-input type="text" [(ngModel)]="email" required> </ion-input>
          </ion-item>
          <ion-row>
            <ion-col>
              <ion-button
                type="submit"
                (click)="onForgotPassword()"
                expand="block"
                >Request a password reset</ion-button
              >
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p>
                <a routerLink="login">Already have an account?</a>
              </p>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
