<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="board">{{ board.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" *ngIf="board">{{ board.name }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    *ngIf="board && user$ && (!user$.isAnonymous || board.isAnonymous)"
  >
    <ion-fab-button routerLink="create-post">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div id="container" *ngIf="board">
    <ion-row class="ion-justify-content-around">
      <ion-col size-md="10" size-lg="8">
        <ion-card>
          <ion-row>
            <ion-col
              size="2"
              size-md="1"
              class="ion-align-self-center"
              style="margin-left: 15px"
            >
              <ion-avatar>
                <img src="{{ board.imageUrl }}" />
              </ion-avatar>
            </ion-col>
            <ion-col>
              <ion-card-header>
                <ion-card-title>b/{{ board.handle }}</ion-card-title>
                <ion-card-subtitle>{{ board.name }}</ion-card-subtitle>

                <ion-item>
                  <ion-label>Anonymous board</ion-label>
                  <ion-checkbox
                    color="primary"
                    [checked]="board.isAnonymous"
                    disabled
                    slot="end"
                  ></ion-checkbox>
                </ion-item>
              </ion-card-header>
            </ion-col>
          </ion-row>
          <ion-card-content>
            <p>{{ board.description }}</p>
            <ion-button *ngIf="dbUser && !isFollowing()" color="primary" (click)="followBoard()">Follow</ion-button>
            <ion-button *ngIf="dbUser && isFollowing()" color="danger" (click)="unfollowBoard()">Unfollow</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-around">
      <ion-col size-md="10" size-lg="8">
        <ion-list>
          <ion-item
            *ngFor="let post of board.posts"
            routerLink="post/{{ post.id }}"
          >
            <ion-avatar slot="start" *ngIf="post.imageUrl">
              <img src="{{ post.imageUrl }}" />
            </ion-avatar>
            <ion-label> {{ post.title }} </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
