<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Anonymous login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Anonymous login</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-row class="ion-justify-content-around">
      <ion-col size-md="6" size-lg="5" size-xl="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              Are you sure you want to login anonymously?
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Your activity as an anonymous user will not be stored and will be
            lost, an anonymous user cannot interact with non anonymous boards
            and can't follow boards.
          </ion-card-content>
          <ion-button
            type="submit"
            (click)="onLoginAnonymously()"
            expand="block"
            >Login</ion-button
          >
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
