<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Logout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Logout</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-row class="ion-justify-content-around">
      <ion-col size-md="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              Logout?
            </ion-card-title>
          </ion-card-header>
    
          <ion-card-content>
            <ion-button type="submit" (click)="onLogout()" expand="block">
              Logout
            </ion-button>
          </ion-card-content>
        </ion-card>
    
      </ion-col>
    </ion-row>
  </div>
</ion-content>
