<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Post creation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Post creation</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" *ngIf="board && user$">
    <ion-row class="ion-justify-content-around">
      <ion-col size-md="6" size-lg="5">
        <ion-card>
          <ion-card-header>
            <ion-card-title> Create post: </ion-card-title>
            <ion-card-subtitle>Board: {{ board.name }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-item lines="full">
              <ion-label position="floating"> Title </ion-label>
              <ion-input
                type="text"
                inputmode="text"
                [(ngModel)]="title"
                required
              ></ion-input>
            </ion-item>
            <ion-item lines="full">
              <ion-label position="floating"> Body </ion-label>
              <ion-textarea
                inputmode="text"
                [(ngModel)]="body"
                required
              ></ion-textarea>
            </ion-item>
            <ion-item lines="full">
              <ion-label> Image </ion-label>
              <input
                type="file"
                accept="image/*"
                (change)="imageChange($event)"
              >
            </ion-item>
            <ion-row>
              <ion-col>
                <ion-button type="submit" (click)="onCreate()" expand="block">
                  Create post
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
