<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Boards</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Boards</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    *ngIf="user$ && !user$.isAnonymous"
  >
    <ion-fab-button routerLink="/create-board">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div id="container">
    <ion-row class="ion-justify-content-around">
      <ion-col size-md="6">
        <ion-list>
          <ion-item
            *ngFor="let board of boards"
            routerLink="/board/{{ board.id }}"
          >
            <ion-avatar slot="start">
              <img src="{{ board.imageUrl }}" />
            </ion-avatar>
            <ion-label>
              <h2>b/{{ board.handle }}</h2>
              <h3>{{ board.name }}</h3>
              <p>{{ board.description }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="getMoreBoards()">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more boards..."
      >
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
