<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="post">{{ post.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title *ngIf="post" size="large">{{ post.title }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    *ngIf="post && user$ && (!user$.isAnonymous || board.isAnonymous)"
  >
    <ion-fab-button
      routerLink="/board/{{ post.boardId }}/post/{{ post.id }}/create-comment"
    >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div id="container" *ngIf="post">
    <ion-row class="ion-justify-content-around">
      <ion-col size-md="6" size-lg="5">
        <ion-card>
          <img *ngIf="post.imageUrl" src="{{ post.imageUrl }}" />
          <ion-card-header>
            <ion-card-title>{{ post.title }}</ion-card-title>
            <ion-card-subtitle>u/{{ post.authorName }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col>
                <p>{{ post.body }}</p>
              </ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center">
              <ion-col size="2">
                <h2 class="ion-text-center">{{ post.karma }}</h2>
              </ion-col>
              <ion-col size="2">
                <ion-button fill="clear" (click)="upvote()">
                  <ion-icon
                    slot="icon-only"
                    name="thumbs-up-outline"
                  ></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col size="2">
                <ion-button fill="clear" (click)="downvote()">
                  <ion-icon
                    slot="icon-only"
                    name="thumbs-down-outline"
                  ></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-around">
      <ion-col size-md="6" size-lg="5">
        <ion-list>
          <div *ngFor="let comment of post.comments">
            <ion-item>
              <ion-avatar slot="start">
                <img src="{{ comment.authorImageUrl }}" />
              </ion-avatar>
              <ion-label>
                <h4>{{ comment.authorEmail }}</h4>
                <p>{{ comment.body }}</p>

                <a
                  href="#"
                  routerLink="/board/{{ post.boardId }}/post/{{ post.id }}/create-comment/{{ comment.uuid }}"
                >
                  Reply
                </a>
              </ion-label>
            </ion-item>
            <ion-list *ngIf="comment.responses" class="ion-margin-start">
              <ion-item *ngFor="let response of comment.responses">
                <ion-avatar slot="start">
                  <img src="{{ response.authorImageUrl }}" />
                </ion-avatar>
                <ion-label>
                  <h4>{{ response.authorEmail }}</h4>
                  <p>{{ response.body }}</p>
                </ion-label>
              </ion-item>
            </ion-list>
          </div>
        </ion-list>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
