<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <div *ngIf="user$ as user">
            <ion-note>{{ user.email }}</ion-note>
          </div>
          <div *ngIf="!user$">
            <ion-note>Anonymous</ion-note>
          </div>

          <ion-menu-toggle
            auto-hide="false"
            *ngFor="let p of appPages; let i = index"
          >
            <ion-item
              routerDirection="root"
              [routerLink]="[p.url]"
              lines="none"
              detail="false"
              routerLinkActive="selected"
            >
              <ion-icon
                slot="start"
                [ios]="p.icon + '-outline'"
                [md]="p.icon + '-sharp'"
              ></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="labels-list">
          <ion-list-header>User options</ion-list-header>

          <div *ngIf="user$">
            <ion-item
              routerDirection="root"
              [routerLink]="[LoggedIn.url]"
              lines="none"
              detail="false"
              routerLinkActive="selected"
            >
              <ion-icon
                slot="start"
                [ios]="LoggedIn.icon + '-outline'"
                [md]="LoggedIn.icon + '-sharp'"
              ></ion-icon>
              <ion-label>{{ LoggedIn.title }}</ion-label>
            </ion-item>
          </div>
          <div *ngIf="!user$">
            <ion-item
              routerDirection="root"
              [routerLink]="[notLoggedIn.url]"
              lines="none"
              detail="false"
              routerLinkActive="selected"
            >
              <ion-icon
                slot="start"
                [ios]="notLoggedIn.icon + '-outline'"
                [md]="notLoggedIn.icon + '-sharp'"
              ></ion-icon>
              <ion-label>{{ notLoggedIn.title }}</ion-label>
            </ion-item>
          </div>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
