<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Following</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Following</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="content">
    <ion-row class="ion-justify-content-around">
      <ion-col size-md="10" size-lg="8">
        <ion-list>
          <ion-card *ngFor="let board of boards" routerLink="/board/{{ board.id }}">
            <ion-row>
              <ion-col
                size="2"
                size-md="1"
                class="ion-align-self-center"
                style="margin-left: 15px"
              >
                <ion-avatar>
                  <img src="{{ board.imageUrl }}" />
                </ion-avatar>
              </ion-col>
              <ion-col>
                <ion-card-header>
                  <ion-card-title>b/{{ board.handle }}</ion-card-title>
                  <ion-card-subtitle>{{ board.name }}</ion-card-subtitle>
  
                  <ion-item>
                    <ion-label>Anonymous board</ion-label>
                    <ion-checkbox
                      color="primary"
                      [checked]="board.isAnonymous"
                      disabled
                      slot="end"
                    ></ion-checkbox>
                  </ion-item>
                </ion-card-header>
              </ion-col>
            </ion-row>
            <ion-card-content>
              <p>{{ board.description }}</p>
            </ion-card-content>
          </ion-card>
        </ion-list>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
