<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Register</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-row class="ion-justify-content-around">
      <ion-col sie-md="6" size-lg="5" size-xl="4">
        <ion-card>
          <ion-item lines="full">
            <ion-label position="floating"> Username </ion-label>
            <ion-input
              type="text"
              inputmode="text"
              [(ngModel)]="displayName"
              required
            ></ion-input>
          </ion-item>
          <ion-item lines="full">
            <ion-label position="floating"> Email </ion-label>
            <ion-input
              type="email"
              inputmode="email"
              [(ngModel)]="email"
              required
            ></ion-input>
          </ion-item>
          <ion-item lines="full">
            <ion-label position="floating"> Password </ion-label>
            <ion-input
              type="password"
              inputmode="text"
              [(ngModel)]="pass1"
              required
            ></ion-input>
          </ion-item>
          <ion-item lines="full">
            <ion-label position="floating"> Repeat password </ion-label>
            <ion-input
              type="password"
              inputmode="text"
              [(ngModel)]="pass2"
              required
            ></ion-input>
          </ion-item>
          <ion-row>
            <ion-col>
              <ion-button type="submit" (click)="onRegister()" expand="block">
                Register
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p>
                <a routerLink="/login">Login to an account</a>
              </p>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
