<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-row class="ion-justify-content-around">
      <ion-col size-md="6" size-lg="5" size-xl="4">
        <ion-card>
          <ion-item lines="full">
            <ion-label position="floating"> Email </ion-label>
            <ion-input
              type="email"
              inputmode="email"
              [(ngModel)]="email"
              required
            ></ion-input>
          </ion-item>
          <ion-item lines="full">
            <ion-label position="floating"> Password </ion-label>
            <ion-input
              type="password"
              inputmode="text"
              [(ngModel)]="password"
              required
            ></ion-input>
          </ion-item>
          <ion-row>
            <ion-col>
              <ion-button type="submit" (click)="onLogin()" expand="block"
                >Login</ion-button
              >
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p class="ion-text-end">
                <a routerLink="/forgot-password">Forgot password?</a>
              </p>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-around">
      <ion-col size-md="6" size-lg="5" size-xl="4">
        <ion-button
          type="submit"
          color="primary"
          (click)="onLoginGoogle()"
          expand="block"
        >
          <ion-icon slot="start" name="logo-google"></ion-icon>
          Login with Google
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-around">
      <ion-col size-md="6" size-lg="5" size-xl="4">
        <ion-button
          type="submit"
          color="primary"
          (click)="onLoginFacebook()"
          expand="block"
        >
          <ion-icon slot="start" name="logo-facebook"></ion-icon> Login with
          Facebook
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-around">
      <ion-col size-md="6" size-lg="5" size-xl="4">
        <ion-button
          type="submit"
          color="primary"
          (click)="onLoginTwitter()"
          expand="block"
        >
          <ion-icon slot="start" name="logo-twitter"></ion-icon>
          Login with Twitter
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-around">
      <ion-col size-md="6" size-lg="5" size-xl="4">
        <ion-button
          type="submit"
          color="primary"
          routerLink="/anon-auth"
          expand="block"
        >
          <ion-icon slot="start" name="person-outline"></ion-icon>
          Login anonymously
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-around">
      <ion-col size-md="6" size-lg="5" size-xl="4">
        <p class="ion-text-end">
          <a routerLink="/register">Create an account</a>
        </p>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
