<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Latest posts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Latest posts</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-row class="ion-justify-content-around">
      <ion-col size-md="6" size-lg="5">
        <ion-list>
          <ion-item *ngFor="let post of posts">
            <ion-card>
              <img
                *ngIf="post.imageUrl"
                src="{{ post.imageUrl }}"
                routerLink="/board/{{ post.boardId }}/post/{{ post.id }}"
              />
              <ion-card-header>
                <ion-card-title
                  routerLink="/board/{{ post.boardId }}/post/{{ post.id }}"
                  >{{ post.title }}</ion-card-title
                >
                <ion-card-subtitle>u/{{ post.authorName }}</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <ion-row>
                  <ion-col>
                    <p>{{ post.body }}</p>
                  </ion-col>
                </ion-row>
                <ion-row class="ion-align-items-center">
                  <ion-col size="2">
                    <h2 class="ion-text-center">{{ post.karma }}</h2>
                  </ion-col>
                  <ion-col size="2">
                    <ion-button fill="clear" (click)="upvote(post.id)">
                      <ion-icon
                        [ngClass]="{ 'ion-danger': checkVoted(post) }"
                        slot="icon-only"
                        name="thumbs-up-outline"
                      ></ion-icon>
                    </ion-button>
                  </ion-col>
                  <ion-col size="2">
                    <ion-button fill="clear" (click)="downvote(post.id)">
                      <ion-icon
                        [ngClass]="{ 'ion-danger': checkVoted(post) }"
                        slot="icon-only"
                        name="thumbs-down-outline"
                      ></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="getMorePosts()">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more posts..."
      >
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
