<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Create board</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Create board</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-row class="ion-justify-content-around">
      <ion-col size-md="6" size-lg="5">
        <ion-card>
          <ion-card-header>
            <ion-card-title> Create board: </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item lines="full">
              <ion-label position="floating"> Handle </ion-label>
              <ion-input
                type="text"
                inputmode="text"
                [(ngModel)]="handle"
                required
              ></ion-input>
            </ion-item>
            <ion-item lines="full">
              <ion-label position="floating"> Name </ion-label>
              <ion-input
                type="text"
                inputmode="text"
                [(ngModel)]="name"
                required
              ></ion-input>
            </ion-item>
            <ion-item lines="full">
              <ion-label position="floating"> Description </ion-label>
              <ion-textarea
                type="text"
                inputmode="text"
                [(ngModel)]="description"
                required
              ></ion-textarea>
            </ion-item>
            <ion-item lines="full">
              <ion-label> Anonymous </ion-label>
              <ion-toggle
                color="primary"
                [(ngModel)]="isAnonymous"
                required
              ></ion-toggle>
            </ion-item>
            <ion-item lines="full">
              <ion-label> Image </ion-label>
              <input
                type="file"
                accept="image/*"
                (change)="imageChange($event)"
              />
            </ion-item>
            <ion-row>
              <ion-col>
                <ion-button type="submit" (click)="onCreate()" expand="block">
                  Create board
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
